:root {
  --font-general-Sans: "General Sans", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-supreme: "Supreme", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  --navbar-height: 60px;

  --clr-sky-950: #082f49;
  --clr-sky-900: #0c4a6e;
  --clr-sky-800: #075985;

  --clr-blue-50: #eff6ff;
  --clr-blue-400: #60a5fa;

  --clr-gray-50: #f9fafb;
  --clr-slate-200: #e2e8f0;

  --clr-yellow-400: #fbbf24;
  --clr-amber-950: #431407;
  --clr-brown-dark: #c59c76;

  --clr-red-400: #f87171;
  --clr-red-500: #af0000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.font-gen-sans {
  font-family: var(--font-general-Sans);
}

input {
  outline: none;
  border: 1px solid var(--clr-red-500);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.listname {
  cursor: pointer !important;
}

tr {
  cursor: pointer;
  transition: all 300ms ease;
}

tr:nth-child(2n + 1) {
  background-color: rgb(240, 240, 240);
}

tr:nth-child(2n):hover {
  background-color: rgb(180, 180, 180);
}
tr:nth-child(2n + 1):hover {
  background-color: rgb(180, 180, 180);
}

th {
  font-weight: 300;
  padding: 0.25rem 0.5rem;
}

td {
  text-align: center;
  align-items: center;
  padding: 0.25rem 1rem;
}

.payment td {
  padding: 0 1rem;
}

@media screen and (max-width: 574px) {
  td,
  th {
    padding: 0.25rem 0.5rem;
  }
}
